anyio==3.7.0
argon2-cffi==21.1.0
asttokens==2.2.1
attrs==23.1.0
Automat==22.10.0
backcall==0.2.0
bcrypt==3.2.2
beautifulsoup4==4.12.2
bleach==6.1.0
blinker==1.6.2
Brotli==1.0.9
bytecode==0.14.2
certifi==2022.9.24
chardet==5.1.0
click==8.1.6
colorama==0.4.6
comm==0.1.2
constantly==15.1.0
coverage==7.2.7
cryptography==38.0.4
cups-of-caffeine==2.9.12
dbus-python==1.3.2
debugpy==1.6.7
decorator==5.1.1
defer==1.0.6
defusedxml==0.7.1
deluge==2.1.2.dev0
distlib==0.3.7
distro==1.8.0
entrypoints==0.4
ewmh==0.1.6
executing==1.2.0
fastjsonschema==2.18.0
filelock==3.12.2
gattlib==0.20210616
h11==0.14.0
html5lib==1.1
httpcore==0.17.3
httplib2==0.20.4
httpx==0.23.3
hyperlink==21.0.0
idna==3.3
importlib-metadata==4.12.0
incremental==21.3.0
ipykernel==6.24.0
ipython==8.14.0
ipython_genutils==0.2.0
jaraco.classes==3.2.1
jedi==0.18.2
jeepney==0.8.0
Jinja2==3.1.2
jsonschema==4.10.3
jupyter-console==6.6.3
jupyter_client==7.4.9
jupyter_core==5.3.2
jupyterlab-pygments==0.2.2
keyring==24.2.0
language-selector==0.1
launchpadlib==1.11.0
lazr.restfulclient==0.14.5
lazr.uri==1.0.6
libtorrent==2.0.9
lxml==4.9.3
Mako==1.2.4.dev0
markdown-it-py==3.0.0
MarkupSafe==2.1.3
matplotlib-inline==0.1.6
mdurl==0.1.2
meson==1.2.1
more-itertools==10.1.0
mugshot==0.4.3
mutagen==1.46.0
nala==0.14.0
nbclient==0.8.0
nbconvert==6.5.3
nbformat==5.9.1
nest-asyncio==1.5.4
netifaces==0.11.0
notebook==6.4.12
numpy==1.24.2
oauthlib==3.2.2
packaging==23.1
pandocfilters==1.5.0
parso==0.8.3
pexpect==4.8.0
pickleshare==0.7.5
Pillow==10.0.0
platformdirs==3.11.0
prometheus-client==0.17.1
prompt-toolkit==3.0.39
psutil==5.9.4
ptyprocess==0.7.0
pure-eval==0.0.0
py==1.11.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
PyBluez==0.23
pycairo==1.24.0
pycryptodomex==3.11.0
pydevd==2.9.6
Pygments==2.15.1
PyGObject==3.46.0
PyHamcrest==2.0.3
pyinotify==0.9.6
PyJWT==2.7.0
PyOpenGL==3.1.6
pyOpenSSL==23.0.0
pyparsing==3.1.0
PyQt5==5.15.9
PyQt5-sip==12.13.0
pyrsistent==0.18.1
python-apt==2.6.0+ubuntu1
python-dateutil==2.8.2
python-debian==0.1.49+ubuntu2
python-Levenshtein==0.12.2
python-pam==2.0.2
python-xlib==0.33
pytz==2023.3
pyxdg==0.28
PyYAML==6.0.1
pyzmq==24.0.1
rencode==1.0.6
requests==2.31.0
rfc3986==2.0.0
rich==13.3.1
scour==0.38.2
SecretStorage==3.3.3
Send2Trash==1.8.2
service-identity==23.1.0
setproctitle==1.3.3
simplejson==3.19.1
six==1.16.0
sniffio==1.2.0
soupsieve==2.5
stack-data==0.6.2
terminado==0.17.1
tinycss2==1.2.1
tomli==2.0.1
tornado==6.3.2
traitlets==5.5.0
Twisted==22.4.0
typer==0.9.0
typing_extensions==4.7.1
ubuntu-cleaner==1.1.4
ubuntu-drivers-common==0.0.0
ufw==0.36.2
ulauncher==5.15.3
urllib3==1.26.16
virtualenv==20.24.1+ds
virtualenvwrapper==4.8.4
wadllib==1.3.6
wcwidth==0.2.5
webencodings==0.5.1
websocket-client==1.2.3
websockets==10.4
xdg==5
xkit==0.0.0
yt-dlp==2023.10.13
zipp==1.0.0
